*.suo
*.db
*.opendb
*.ipch
*.log
*.obj
*.idb
*.pdb
*.tlog
*.lastbuildstate
*.exe
*.ilk
*.recipe
*.iobj
*.ipdb
*.db-shm
*.db-wal
SoundSynthesizer/SoundSynthesizer/Release/SoundSynthesizer.vcxproj.FileListAbsolute.txt
